<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
	<meta charset="utf-8">
	<meta  name="viewport" content="width=device-width,initial-scale=1.0">
	<title>标签</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/me.css">
</head>
<body>
	<!-- 导航 -->
 <nav  th:replace="_fragments :: menu(3)" class="ui inverted  attached segment m-shadow-small">
  <div class="ui container">
		<div class="ui inverted secondary stackable menu">
	    	<h2 class="ui  teal header item">Blog</h2>
	    	<a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
	    	<a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
	    	<a href="#" class="m-item active item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
	    	<a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
	    	<a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
	    	<div class="right m-item item m-mobile-hide">
             <div class="ui icon input">
              <input type="text" placeholder="Search....">
              <i class="search link icon"></i>
             </div>
	    	</div>
	 	 </div>
  </div>
  <a class="ui menu toggle button icon black m-top-right  m-mobile-show">
       <i class="sidebar icon"></i>
  </a>
 </nav>

  <!-- 内容区 -->
  <div class="m-padding-tb-massive">
     <div class="ui container">
           <div class="ui top attached segment">
               <div class="ui middle aligned two column grid">
                 <div class="column">
                    <h3 class="ui teal header">标签</h3>
                 </div>
                 <div class="right aligned column">
                     共 <h3 class="ui orange header  m-inline-block" th:text="${#arrays.length(tags)}">14</h3> 个
                 </div>
               </div>
           </div>
           <div class="ui attached segment">
               <a  href="#" th:href="@{/tags/{id}(id=${tag.id})}"  th:classappend="${tag.id==activeTypeId} ? 'teal'" class="ui large basic left pointing label m-margin-tb-tiny" th:each="tag : ${tags}">
                  <span th:text="${tag.name}">方法论</span>  <div class="detail" th:text="${#arrays.length(tag.blogs)}" >23</div>
               </a>
           </div>
         <div class="ui teal top attached segment">
             <div class="ui  padded vertical segment" th:each="blog : ${page.content}">
                 <div class="ui middle aligned mobile reversed stackable grid" >
                     <div class="eleven wide column">
                         <h3 class="ui header"><a href="" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你真的理解什么是财富的自由吗</a></h3>
                         <p th:text="|${blog.content}......|">是的法规的设计符合国家和法国带回家分公司登记号过得舒服就换个计划书规定大数据韩国 的实际发货的时间发货....</p>
                         <div class="ui grid">
                             <div class="row">
                                 <div class="eleven wide column">
                                     <div class="ui horizontal link list">
                                         <div class="item">
                                             <img src="https://picsum.photos/id/1/100/100" class="ui avatar image" th:src="@{${blog.personInfo.avatar}}"></img>
                                             <div class="content">
                                                 <a class="header" th:text="${blog.personInfo.nickname}">郑凡</a>
                                             </div>
                                         </div>
                                         <div class="item">
                                             <i class="calendar icon"></i> <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-2</span>
                                         </div>
                                         <div class="item">
                                             <i class="eye icon"></i> <span th:text="${blog.views}">123</span>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="five wide column">
                                     <a href="#" target="_blank" class="ui teal basic label" th:text="${blog.type.name}">认知升级</a>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="column">
                                     <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic left pointing label" th:classappend="${tag.id==activeTypeId} ? 'teal'" th:each="tag : ${blog.tags}" th:text="${tag.name}">方法论</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="right aligned five wide column">
                         <a href="" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                             <img src="https://picsum.photos/id/1/800/400" th:src="@{${blog.firstPicture}}"  class="ui  rounded image"></img>
                         </a>
                     </div>
                 </div>
             </div>
         </div>

           <!-- 分页 -->
         <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
             <div class="ui middle aligned two column grid">
                 <div class="column">
                     <a th:href="@{/(page=${page.number}-1)}" class="ui mini teal basic button" th:unless="${page.first}">上一页</a>
                 </div>
                 <div class="right aligned column">
                     <a th:href="@{/(page=${page.number}+1)}" class="ui mini teal basic button" th:unless="${page.last}">下一页</a>
                 </div>
             </div>
         </div>
     </div>
  </div>

<!-- 底部 -->
  <footer th:replace="_fragments :: footer" class="ui  inverted vertical segment">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
            	<div class="ui inverted link list" >
            		<div class="item">
						<img src="../static/images/wechat.jpg" class="ui rounded image" style="width:110px">
            		</div>
               </div>
              
            </div>
            <div class="three wide column">
               <h4 class="ui inverted header">最近博客</h4>
               <div class="ui inverted link list">
               	 <a href="" class="item">用户故事 （User Story）</a>
               	 <a href="" class="item">用户故事 （User Story）</a>
               	 <a href="" class="item">用户故事 （User Story）</a>
               </div>
          
            </div>
            <div class="three wide column">
               <h4 class="ui inverted header">最近博客</h4>
               <div class="ui inverted link list">
               	 <a href="" class="item">用户故事 （User Story）</a>
               	 <a href="" class="item">用户故事 （User Story）</a>
               	 <a href="" class="item">用户故事 （User Story）</a>
               </div>
            </div>
            <div class="seven wide column">
              <h4 class="ui inverted header">最近博客</h4>
              <p>这是我的个人博客 主要分享自己的学习心得</p>

            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-opacity">Copyright 2016-2017</p>
    </div>
  </footer>

</body>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script type="text/javascript">
       $('.menu.toggle').click(function(){
         $('.m-item').toggleClass('m-mobile-hide');

       });
 
</script>
</html>